<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>
    <h1>Math Quiz</h1>
    <div id="problem">Waiting for problem...</div>
    <input type="text" id="answer" placeholder="Enter your answer">
    <button id="submit">Submit</button>
    <div id="result"></div>

    <script>
        let username = prompt("Enter your username:");
        while (!username) {
            username = prompt("Username is required. Please enter your username:");
        }
        const ws = new WebSocket("ws://localhost:8000/ws");

        ws.onmessage = function(event) {
            const data = event.data;
            document.getElementById('result').textContent = data;
            if (data.startsWith('New Problem')) {
                document.getElementById('problem').textContent = data;
            }
        };

        document.getElementById('submit').onclick = function() {
            const answer = document.getElementById('answer').value;
            ws.send(JSON.stringify({
                "answer": answer,
                "username":username
            }));
        };
    </script>
</body>
</html>
